* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
}

.registration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    width: 45vw;
}

.input-box {
    margin-bottom: 1vh;
    width: 15vw !important; 
}

.contact {
    position: absolute;
    top: 0;
    margin-left: 16vw;
    margin-right: 11vw !important;
}

.submit {
    position: relative;
    bottom: 0;
    left: 0;
    width: 20vw;
    margin-top: 1vh;
}

.validator {
    color: red;
}

footer {
    position: absolute;
    margin: 2vh;
    left: 0;
    right: 0;
    top: 50vh;
}
