* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    caret-color: transparent;
}

.login {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-25%, -50%);
}

.registration {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-35%, -50%);
    width: 45vw;
}

.input-box {
    margin-bottom: 1vh;
    width: 15vw !important; 
}

.contact {
    position: absolute;
    top: 0;
    margin-left: 16vw;
    margin-right: 11vw !important;
}

.submit {
    position: relative;
    bottom: 0;
    left: 0;
    width: 20vw;
    margin-top: 1vh;
}

.validator {
    color: red;
}

header {
    font-size: 5vh;
    font-weight: bold;
    margin: 1vh;
    position: absolute;
    top: 0;
    left: 0;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    font-size: 2vh;
    caret-color: transparent;
}

.navbar_overview {
    position: absolute;
    margin: 1vh;
    font-size: 3vh;
    right: 0;
    top: 0;
}

.active {
    color: orangered !important;
}

.navbar_text {
    margin: 1vh;
    font-size: 3vh;
    color: black;
}

.button_background_color {
    background-color: orangered !important;
}

.labelStyle {
    font-size: 3vh;
    font-weight: bold;
    top: 20%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.GVStyle {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
}

.tbDateStyle {
    width: 10vw;
    margin-top: 1vh;    
}

.tbTimeStyle {
    width: 10vw;
    margin-top: 1vh;
}